/*----------------------------------------------
    HTML
-----------------------------------------------*/

html {
  min-width: 320px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.85);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------
    Global styles
-----------------------------------------------*/

*, 
*:before, 
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*----------------------------------------------
    Body
-----------------------------------------------*/

body {
  font-size: 15px; 
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #000;
  min-width: inherit;
}

/*----------------------------------------------
    Image
-----------------------------------------------*/

/* img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
} */

/*----------------------------------------------
    Typography
-----------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

em { font-style: italic; }

strong { font-weight: bolder; }

small { font-size: 75%; }

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*----------------------------------------------
    Links
-----------------------------------------------*/

a { color: #555; }

a:visited { color: #000; }

a:hover,
a:active,
a:focus { color: #999; }

/*----------------------------------------------
    Main
-----------------------------------------------*/

main { display: block; }

/*----------------------------------------------
    Table
-----------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base on normalize.css v7.0.0 */

/*----------------------------------------------
    Remove the bottom border in Chrome 57- and Firefox 39-.
    Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
-----------------------------------------------*/

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*----------------------------------------------
    Correct the inheritance and scaling of font size in all browsers.
    Correct the odd `em` font sizing in all browsers.
-----------------------------------------------*/

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*----------------------------------------------
    Prevent `sub` and `sup` elements from 
    affecting the line height in all browsers.
-----------------------------------------------*/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/*----------------------------------------------
    Remove the border on images inside links in IE 10-.
-----------------------------------------------*/

img { border-style: none; }

/*----------------------------------------------
    Show the overflow in IE.
    Show the overflow in Edge.
-----------------------------------------------*/

button, input { overflow: visible; }
 
/*----------------------------------------------
    Remove the inheritance of text transform in Edge, Firefox, and IE.
    Remove the inheritance of text transform in Firefox.
-----------------------------------------------*/
 
button, select { text-transform: none; }
 
/*----------------------------------------------
    Remove the inner border and padding in Firefox.
-----------------------------------------------*/
 
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
 
/*----------------------------------------------
    Restore the focus styles unset by the previous rule.
-----------------------------------------------*/
 
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
 
/*----------------------------------------------
    Correct the padding in Firefox.
----------------------------------------------*/
 
fieldset { padding: 0.35em 0.75em 0.625em; }

/*----------------------------------------------
    Remove the default vertical scrollbar in IE.
----------------------------------------------*/

textarea { overflow: auto; }

/*----------------------------------------------
    Correct the cursor style of increment and decrement buttons in Chrome.
----------------------------------------------*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
 
/*----------------------------------------------
    Correct the odd appearance in Chrome and Safari.
    Correct the outline style in Safari.
----------------------------------------------*/
 
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
 
/*----------------------------------------------
    Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
----------------------------------------------*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
 
/*----------------------------------------------
    Correct the inability to style clickable types in iOS and Safari.  
    Change font properties to `inherit` in Safari.
----------------------------------------------*/
 
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*----------------------------------------------
    Add the correct display in IE 10-.
----------------------------------------------*/

[hidden] {
  display: none;
}

