/*----------------------------------------------
    c_site-branding
-----------------------------------------------*/

.site-branding {
  color: #FFF;
  font-size: 3rem;
  line-height: 1;
  white-space: nowrap;
}

.site-branding a {
  color: #FFF;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .site-branding {
    font-size: 2rem;
  }
}

/*----------------------------------------------
    c_site-cta-btn
-----------------------------------------------*/

.site-cta-btn {
  margin-left: auto;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .site-cta-btn {
    display: none;
  }
}

/*----------------------------------------------
    c_menu-btn
-----------------------------------------------*/

.menu-btn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #FFF !important;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}

.menu-btn .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
}

.menu-btn .menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 4px;
  background-color: #FFF;
}

.menu-btn .menu-inner::after,
.menu-btn .menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #FFF;
  transition: all 60ms linear;
}

.menu-btn .menu-inner::before {
  top: -8px;
}

.menu-btn .menu-inner::after {
  bottom: -8px;
}

.menu-btn .menu-text {
  margin: 4px 0 0;
}

.menu-btn.active .menu-inner {
  background-color: rgba(0, 0, 0, 0);
}

.menu-btn.active .menu-inner::before {
  top: 1px;
  transform: rotate(-40deg);
}

.menu-btn.active .menu-inner::after {
  bottom: -1px;
  transform: rotate(40deg);
}

/*----------------------------------------------
    c_btn
-----------------------------------------------*/

.btn {
  display: inline-block;
  padding: 0 35px;
  margin: 0 5px;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-decoration: none;
  border-radius: 8px;
  background-color: #EEE;
}

.btn:hover {
  color: #FFF;
  background-color: #000;
}

/*----------------------------------------------
    c_main-nav
-----------------------------------------------*/

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li {
  height: 40px;
}

.main-nav a {
  display: block;
  padding: 0 30px;
  color: #FFF;
  font-size: 1.5rem;
  line-height: 40px;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #000;
}

@media only screen and (min-width: 993px) {
  .main-nav a.active {
    background-color: #000;
  }
}

@media only screen and (max-width: 992px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav a {
    padding: 0 15px;
  }
}

