/*--------------------------------------------------------------
# font-face
--------------------------------------------------------------*/

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Lato-Hairline.ttf);
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Lato-Light.ttf);
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
  
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Lato-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Lato-Black.ttf);
  }
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Lato-Bold.ttf);
  }