/*----------------------------------------------
  l_wrap, l_container
-----------------------------------------------*/

.wrap, 
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*----------------------------------------------
  l_header-section
-----------------------------------------------*/

.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #444;
  transition: all 120ms ease-in-out 60ms;
  z-index: 9;
}

.header-section.active {
  top: -100px;
}

.header-section.active.show,
.header-section.menu-opened {
  top: 0 !important;
}

@media only screen and (max-width: 600px) {
  .header-section.active {
    top: -60px;
  }
}

/*----------------------------------------------
    l_site-header
-----------------------------------------------*/

.site-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 960px;
  height: 60px;
  margin: auto;
  padding: 0 10px;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .site-header {
    height: 50px;
    padding: 0;
  }
}

/*----------------------------------------------
  l_site-navigation
-----------------------------------------------*/

.site-navigation {
  background-color: #555;
  transition: all 120ms ease-in-out 60ms;
  overflow: hidden;
}

.site-navigation ul {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .site-navigation {
    max-height: 0;
  }

  .site-navigation.show {
    max-height: 100vh;
  }
}

/*----------------------------------------------
    l_site-container
-----------------------------------------------*/

.site-container {
  padding: 100px 0 50px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .site-container {
    padding: 50px 0 50px;
  }
}

/*----------------------------------------------
    l_site-atf
-----------------------------------------------*/

.site-atf {
  height: 400px;
  background-color: #EEE;
}

.site-atf > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.site-atf h2 {
  text-align: center;
}

/*----------------------------------------------
    l_site_aside
-----------------------------------------------*/

.site-aside {
  padding: 50px 0;
}

/*----------------------------------------------
    l_site-footer
-----------------------------------------------*/

.site-footer {
  position: relative;
  z-index: 1;
}

/*----------------------------------------------
    l_ext-footer
-----------------------------------------------*/

.ext-footer {
  display: flex;
  align-items: center;
  height: 60px;
  background: #999;
}

/*----------------------------------------------
    l_footer
-----------------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background: #000;
}

/*----------------------------------------------
    l_site-main
-----------------------------------------------*/

.site-main {
  position: relative;
  padding: 50px 0 0;
}

/*----------------------------------------------
    l_section
-----------------------------------------------*/

.section { 
  padding: 10px 10px 50px; 
}

.section.no-pad {
  padding: 0;
}

/*----------------------------------------------
    l_article
-----------------------------------------------*/

.article {
  padding: 20px 0 0;
}

/*----------------------------------------------
    l_site-content
-----------------------------------------------*/

.site-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
}

.site-content aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 1;
}

.site-content main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 2/3;
  grid-row: 1;
}

@media only screen and (max-width: 600px) {
  .site-content {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .site-content aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .site-content main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

