/*----------------------------------------------
    Row, Group, Clearfix
-----------------------------------------------*/

.row:after, 
.group:after, 
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*----------------------------------------------
    Display according to viewport
-----------------------------------------------*/

@media only screen and (min-width: 993px) {
  .mobile { display: none !important; }
}

@media only screen and (max-width: 992px) {
  .desktop { display: none !important; }
}

/*----------------------------------------------
    typoghrapy
-----------------------------------------------*/

.text-center { text-align: center; }
.text-right { text-align: right; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.font-small { font-size: 1.1rem }
.font-medium { font-size: 1.4rem; }
.font-large { font-size: 1.8rem; }

/*----------------------------------------------
    float
-----------------------------------------------*/

.float-left { float: left; }
.float-right { float: right; }

/*----------------------------------------------
    font-color
-----------------------------------------------*/

/* .primary { color: #FFF; } */
/* .accent { color: #FFF; } */
.white { color: #FFF; }
.black { color: #000; }
.red { color: #F44336; }
.pink { color: #E91E63; }
.purple { color: #9C27B0; }
.deep-purple { color: #673AB7; }
.indigo { color: #3F51B5; }
.blue { color: #2196F3; }
.light-blue { color: #03A9F4; }
.cyan { color: #00BCD4; }
.teal { color: #009688; }
.green { color: #4CAF50; }
.light-green { color: #8BC34A; }
.lime { color: #CDDC39; }
.yellow { color: #FFEB3B; }
.amber { color: #FFC107; }
.orange { color: #FF9800; }
.deep-orange { color: #FF5722; }
.brown { color: #795548; }
.grey { color: #9E9E9E; }
.blue-grey { color: #607D8B; }

/*----------------------------------------------
    background
-----------------------------------------------*/

.background { background: inherit; }
.background.primary { background: #000; }
.background.accent { background: #EEE; }
.background.grey-50 { background: #FAFAFA; }
.background.grey-100 { background: #F5F5F5; }
.background.grey-200 { background: #EEEEEE; }
.background.grey-300 { background: #E0E0E0; }
.background.grey-400 { background: #BDBDBD; }
.background.grey-500 { background: #999999; }
.background.grey-600 { background: #757575; }
.background.grey-700 { background: #616161; }
.background.grey-800 { background: #424242; }
.background.grey-900 { background: #212121; }

/*----------------------------------------------
    z-depth
-----------------------------------------------*/

.z-depth {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2);
}

/*----------------------------------------------
    display-*
-----------------------------------------------*/

.display-grid {
  display: -ms-grid;
  display: grid;
}

.display-inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-block {
  display: table;
}

.display-inline-block {
  display: inline-table;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/*----------------------------------------------
    u_img-render-crisp
-----------------------------------------------*/

.u_img-render-crisp {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/*----------------------------------------------
    object-fit (objec-fit.js Added for IE support)
-----------------------------------------------*/

.object-fit_fill { 
  object-fit: fill; 
  font-family: 'object-fit: fill;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_contain { 
  object-fit: contain;
  font-family: 'object-fit: contain;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_cover { 
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_none { 
  object-fit: none;
  font-family: 'object-fit: none;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_scale-down { 
  object-fit: scale-down;
  font-family: 'object-fit: scale-down;' /* special font-family property to allow IE to read the correct value */
}

/*--------------------------------------------------------------
    GRID Column
--------------------------------------------------------------*/

.col {
  float: left;
  width: 100%;
}

.col.s1 { width: 8.33333%; }
.col.s2 { width: 16.66666%; }
.col.s3 { width: 24.99999%; }
.col.s4 { width: 33.33333%; }
.col.s5 { width: 41.66666%; }
.col.s6 { width: 49.99999%; }
.col.s7 { width: 58.33333%; }
.col.s8 { width: 66.66666%; }
.col.s9 { width: 74.99999%; }
.col.s10 { width: 83.33333%; }
.col.s11 { width: 91.66666%; }
.col.s12 { width: 99.99999%; }

@media (min-width:601px) {
  .col.m1 { width: 8.33333%; }
  .col.m2 { width: 16.66666%; }
  .col.m3 { width: 24.99999%; }
  .col.m4 { width: 33.33333%; }
  .col.m5 { width: 41.66666%; }
  .col.m6 { width: 49.99999%; }
  .col.m7 { width: 58.33333%; }
  .col.m8 { width:66.66666%; }
  .col.m9 { width: 74.99999%; }
  .col.m10 { width: 83.33333%; }
  .col.m11 { width: 91.66666% }
  .col.m12 { width: 99.99999%; }
}

@media (min-width:993px) {
  .col.l1 { width: 8.33333%; }
  .col.l2 { width: 16.66666%; }
  .col.l3 { width: 24.99999%; }
  .col.l4 { width: 33.33333%; }
  .col.l5 { width: 41.66666%; }
  .col.l6 { width: 49.99999%; }
  .col.l7 { width: 58.33333%; }
  .col.l8 { width: 66.66666%; }
  .col.l9 { width: 74.99999%; }
  .col.l10 { width: 83.33333%; }
  .col.l11 { width: 91.66666%; }
  .col.l12 { width: 99.99999%; }
}